<h1>All of the Horses</h1>

<table>
  <thead>
    <tr>
      <th>Horse Names:<br></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><p><%= link_to user.name, user %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path if current_user.admin? %>
